body {
    margin: 0;
    height: 100vh;
    color: white;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#container1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
}

#container2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events:none;
}

p {
  font-size: 18px;
  font-weight: 300;
}

h1 {
    font-size: 24px;
    font-weight: 300;
}

#next, #back {
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 1px solid dodgerblue;
  border-radius: 4px;
  width: 10%;
  transition: .3s;
  box-shadow: 0 0 0 0;
  min-width: 80px;
}

#next {
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: transparent;
  border: 1px solid dodgerblue;
  border-radius: 4px;
  width: 10%;
  transition: .3s;
  box-shadow: 0 0 0 0;
  min-width: 80px;
}

#back {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #fff;
    color: dodgerblue;
}

#back:hover {
    background-color: dodgerblue;
    transition: .3s;
    box-shadow: 0 0 8px 0 dodgerblue;
    color: #fff;
}

#next:hover {
    background-color: dodgerblue;
    transition: .3s;
    box-shadow: 0 0 8px 0 dodgerblue;
}

#next, input {
    padding: 8px;
    margin: 20px auto;
    display:block;
}

input[type=text] {
    border: 2px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    transition: .2s;
}

input[type=text]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 rgba(30, 144, 255, 1);
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}